<aside style="text-align: left; max-width: 500px; margin: 0 auto;">
  <div style="margin-bottom: 1em">
    <h1 style="margin-bottom: 0"><a href="{{ site.baseurl }}/" style="border: 0">{{ site.title }}</a></h1>
    <div style="font-size: 70%; color: #777">{{ site.description }}</div>
  </div>
</aside>
<aside style="text-align: center">
  <a href="{{ site.baseurl }}/all/">All trails</a>
  <a href="{{ site.baseurl }}/search">Search</a>
  <a href="{{ site.baseurl }}/about">About</a>
</aside>

<div class="container">
</div>
